$article-width: 640px;

.minibar-wrapper {
	position: absolute;
	right: 11.5px;
	height: 100%;

	.fixed-wrapper {
		position: fixed;
		top: 50%;
		transform: translate(-50%, -50%);
	}
}

.article {
	.content {
		max-width: $article-width;
		margin: auto;
		font-family: helvetica;

		.extras {
			display: flex;
			align-items: baseline;
			margin-top: 20px;
			margin-bottom: 20px;

			.title {
				font-size: 30px;
				line-height: 34px;
				margin-top: 0px;
				margin-bottom: 0px;
			}

			.author {
				font-size: 20px;
				line-height: 23px;
				font-weight: normal;
				margin-top: 0px;
				margin-bottom: 0px;
				margin-left: 12px;
			}
		}
	}

	.mercury-html {
		font-size: 20px;
		line-height: 36px;
		font-family: serif;
	}

	.header {
		position: relative;

		.inner-header {
			height: 56px;

			width: 1155px;
			margin: auto;
			position: relative;
			display: flex;
			align-items: center;

			.estimation {
				font-family: Helvetica;
				font-style: normal;
				font-weight: normal;
				font-size: 15px;
				line-height: 17px;
				color: #898989;
				width: $article-width;
				margin: auto;
			}
			$info-height: 23px;

			.logo {
				position: absolute;
				left: 0px;
				max-height: $info-height;
			}

			.info-image {
				position: absolute;
				right: 0px;
				max-height: $info-height;
			}

			hr {
				position: absolute;
				bottom: 0;
				width: 100%;
				margin-bottom: 0;
				margin-top: 0;
				height: 1px;
				border: none;
				background-color: rgba(194, 194, 194, 0.59);
				box-shadow: 0px 1px 3px 0px rgba(85, 85, 85, 0.33);
			}
		}
	}
}
